@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

html,
body,
#root {
  height: 100%;
}

::placeholder {
  color: #747474;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  letter-spacing: 0.25em;
}

#form-container {
  margin: 0 auto;
}

.url-input,
.url-input:focus {
  background: #FFFFFF;
  border: 1.9px solid #A2A2A2;
  box-sizing: border-box;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  font-size: 30px;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

.url-submit {
  background: #E8E8E8;
  border: 1.9px solid #A2A2A2;
  box-sizing: border-box;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  font-size: 21px;
  height: auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

.list-main-item {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 24px;
}

.list-main-item a {
  color: black;
}

.list-sec-item {
  font-size: 20px;
  color: #707070;
  font-family: 'Montserrat', sans-serif;
}

.list-sec-item a {
  color: #707070;
} 